/**
 * Preload CSS
 */

/*Loading[Start]*/
#loading {background-color:rgba(255,255,255,0.6);position: fixed;top:0;left:0;width: 100%;height: 100%; z-index:99999;display:none;}
.spinner {margin: 0 auto;width: 50px;height: 30px;text-align: center;font-size: 10px;display:table-cell;vertical-align:middle;}
.spinner > div {background-color:#da1f29;height:70px;width:11px; border-radius:4px;display: inline-block; -webkit-animation: stretchdelay 1.2s infinite ease-in-out;animation: stretchdelay 1.2s infinite ease-in-out;}
.spinner .rect2 {-webkit-animation-delay: -1.1s;animation-delay: -1.1s;}
.spinner .rect3 {-webkit-animation-delay: -1.0s;animation-delay: -1.0s;background:#f7921e;}
.spinner .rect4 {-webkit-animation-delay: -0.9s;animation-delay: -0.9s;background:#459c46;}
.spinner .rect5 {-webkit-animation-delay: -0.8s;animation-delay: -0.8s;background:#459c46;}
@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes stretchdelay {
    0%, 40%, 100% { transform: scaleY(0.4);-webkit-transform: scaleY(0.4);}  20% { transform: scaleY(1.0);-webkit-transform: scaleY(1.0);}
}

/**
 * Default CSS By Percentage
 */

.width-100 { width: 100%;}
.width-95 { width: 95%;}
.width-90 { width: 90%;}
.width-80 { width: 80%;}
.width-60 { width: 60%;}
.width-50 { width: 50%;}
.width-40 { width: 40%;}
.width-30 { width: 30%;}
.width-20 { width: 20%;}
.width-10 { width: 10%;}
.width-5 { width: 5%;}
.width-none { width: 0%;}
.display-none { display: none;}
.pull-left { float: left;}
.pull-right { float: right;}


.margin-none{ margin:0;}

.margin-bottom-10{ margin-bottom:10px;}
.margin-bottom-20{ margin-bottom:20px;}
.margin-bottom-30{ margin-bottom:30px;}
.margin-bottom-40{ margin-bottom:40px;}
.margin-bottom-50{ margin-bottom:50px;}

.padding-none{ padding:0;}


body { top: 0px !important; }
body, .block-section-top1 {
    background-color: #eee !important;
}

.ui-tooltip-content{}

/**
 * Top Header
 */
#google_translate_element { z-index: -5; position: absolute; top: 0; left: -200px; }
.goog-te-banner-frame.skiptranslate {display: none !important;} 

/**
 * Mobile Responsive Accounts
 */
.mobile_responsive_account { display: none; }
.header-opt-1 .header-top .nav-left>li>a, .header-opt-1 .header-top .nav-left>li>span, .header-opt-1 .header-top .nav-right>li>a, .header-opt-1 .header-top .nav-right>li>span 
{line-height: 25px;}
/*Search*/
.header-opt-1 .header-content { padding-top: 5px; padding-bottom: 0px; }
.header-opt-1 .header-content .block-search { width: 568px; }
.header-opt-1 .header-content .block-minicart>.dropdown-toggle .counter { width: 100px;}

/*Categories Navigation*/
.ui-categori .parent .submenu{ width:200px !important; }
.custom-submenu{ color: #888; font-size: 14px; display: block; line-height: 30px; text-transform: none }

/*OnScrol-Navigation*/
/*.sticky-wrapper.is-sticky .mid-header .block-nav-categori{ height: 40px;}*/
.sticky-wrapper.is-sticky .mid-header .block-nav-categori{ width: 40px; }
.header-opt-1 .block-nav-categori .block-title {line-height: 35px;}
.header-opt-1 .header-nav .block-minicart .dropdown-toggle .cart-icon, .header-opt-1 .header-nav .block-search .block-title, .header-opt-1 .header-nav .setting .dropdown-toggle{
    width: 40px !important; line-height: 35px !important; height: 35px !important;
}
.header-nav .setting { right: 84px;}
.header-nav .block-search { right: 42px; }

/*Shipping Services*/
.block-service-opt1, .block-floor-products-opt1, .block-floor-products { margin-bottom: 0px !important; }

/*Breadcrums*/
.catalog-view_op1 .breadcrumb {margin: 5px 0;}

/**
 * Slider Header
 * * * * * * * * * * * * *
 */
.block-section-top1 .banner-slide{ width: 300px; padding: 0 4px; }
.block-section-top1 .banner-slide .box-img { padding:0.5px 0px !important; margin-top: 0px; margin-bottom: 0px; height: 227px; border-bottom:none; }
.block-floor-products .col-products{ width:100%; }
.block-slide-main .item { background-size: 100% 100% !important; }

/**
 * Deals
 */
.block-deals-of .product-item-opt-1 .product-item-img { height: 218px; }


/**
 * Homepage Products Styles
 * Sub Products Styles
 */
 .block-tab-products-opt1 .owl-item { height: 350px !important; }
 .block-tab-products-opt1 .owl-item .product-item-photo img { height: 275px !important; }
 .owl-carousel .owl-item { border: 1px solid #b7b7b7; }

/*Footer*/
.footer-opt-1 .footer-column .logo-footer,
.footer-opt-1 .footer-column .address,
.footer-opt-1 .footer-column .links, .footer-opt-1 .footer-column .links h3.title{
    margin-bottom: 5px;
}
.footer-opt-1 .payment-methods {padding: 5px 0;}

/* Product :: Grid listing; */
.products.products-grid .product-items .product-item { width: 23%; border: 1px solid #b7b7b7; padding: 0; margin: 0px 5px; margin-bottom: 8px;  }
.products.products-grid .product-items .product-item .product-item { width: 100%; border:none; padding: 0; margin: 0; height: 350px;}
.product-item-opt-1 .product-item-photo { padding:0; height:none; }
.product-item-opt-1 .product-item-img { height: 275px; }

/*Single Product Details*/
.single-product-on-right{ padding:0px; }

/*Checkout*/
.checkout-page .box-border { padding:0px; }


@media screen and (max-width: 699px) and (min-width: 100px) {
    
    .header-top, .header-opt-1 .header-content .nav-right, .header-opt-1 .header-content .nav-mind {display: none !important;}
    .header-opt-1 .header-content { padding-top: 15px;}

    /*Header*/
    .top_contact_us { display: none;}
    .header-opt-1 .header-top .dropdown .dropdown-toggle .fa { margin:0px;}
    .mobile_responsive_account { display: block; }
    .mobile_responsive_account .dropdown-menu { width: 180px !important; padding-left:10px 10px; !important; }
    .mobile_responsive_account .account li a { font-size:12px !important; }
    .header-opt-1 .header-top .nav-left>li{ padding-right: 3px !important; margin-right: 3px !important; }
    .header-opt-1 .header-top .nav-left, .header-opt-1 .header-top .nav-right { font-size: 10px; }

    .header-opt-1 .header-top .nav-right{ display:none; }

    .header-opt-1 .header-content .nav-left { width: 100% !important; float: none !important; margin-bottom: 10px; }

    /*Header Search Bar*/
    /*.header-opt-1 .header-content .block-minicart { float: left; margin-top: 10px; margin-left: 20px; }*/
    .header-opt-1 .header-content .block-search {width: 100%; margin-bottom: 10px;}
    
    /*Responsive Navigation*/
    .sticky-wrapper.is-sticky .mid-header { position: fixed !important;}
    .sticky-wrapper.is-sticky .mid-header .block-nav-categori{ width: 40px !important; }
    .header-opt-1 .block-nav-categori, .header-opt-1 .block-nav-categori .block-title { width: inherit !important; padding-right: 20px!important; }
    .sticky-wrapper.is-sticky .mid-header .block-nav-categori .block-title span {
        visibility: visible; opacity: 0; text-indent: -1000px; -webkit-transition: .35s; -o-transition: .35s; transition: .35s;
    }
    .site-header .header-nav .box-header-nav .block-minicart, .header-nav .block-search, .header-nav .setting {
        opacity: 1; transform: translate(0, 0); transition: .3s; visibility: visible; display:block !important;
    }
    .site-header .header-nav .box-header-nav .block-minicart, .header-nav .block-search, .header-nav .setting{ position: absolute; z-index: 2;}
    .header-nav .block-search .block-content {padding: 4px 4px; margin-top: 4px !important; }
    .block-search .form-search {width: 240px;}
    .block-search .form-search .form-control { height: 35px; }

    .header-opt-1 .block-nav-categori .block-title { font-size: 0px;}

    /*Slider*/
    .block-slide-main.slide-opt-1{ width:100% !important; }
    .slide-opt-1 .item { height: 220px !important; }

    /*Breadcrums*/
    .catalog-view_op1 .breadcrumb {margin: 5px 0; font-size: 12px;}
    .breadcrumb li+li:before { margin: 0px; padding: 0 2px; }

    /*Deals*/
    .block-deals-of-opt1 .count-down-time .box-count .number {width: 45px;}
    .block-deals-of-opt1 .count-down-time .box-count .number:after, .block-deals-of-opt1 .count-down-time .box-count .number:before {
        height: 20px; width: 20px;
    }

    .product-item-opt-1 .product-item-price {     font-size: 14px !important; }

    /*.block-deals-of-opt1 .product-item { height: inherit !important; }*/
    .block-deals-of-opt1 .product-item .product-item-photo { padding:10px 0; height: initial !important;}

    /*Floor Top Products*/
    .block-tab-products-opt1 .owl-item { height: 285px !important; }
    
    /*Floor Products*/
    .product-item-opt-1 { height: 280px !important; }
    .product-item-opt-1 .product-item-photo { height: 200px !important; }
    .product-item-opt-1 .product-item-price .price, .product-item-opt-1 .product-item-price .old-price { font-size: 12px; }
    .block-floor-products-opt1 .product-item .product-item-img { height: 180px;}

    /* Product :: Grid listing; */
    .products.products-grid .product-items .product-item { clear: none !important; float: left; width: 45%; border: 1px solid #b7b7b7; padding: 0; margin: 0px 4px; margin-bottom: 8px;  }
    .products.products-grid .product-items .product-item:nth-child(odd) { margin-left: 15px;  }
    .products.products-grid .product-items .product-item .product-item { width: 100%; border:none; padding: 0; margin: 0; height: 350px;}
    .product-item-opt-1 .product-item-photo { padding:0; height:none; }
    .block-tab-products-opt1 .owl-item .product-item-photo img { height: 230px !important; }
    .product-item-opt-1 .product-item-img { height: 275px; }
    .product-item-opt-1 .product-item-img img { height: 180px; }
    
    /**
     * Footer :: Responsive
     */
    .footer-opt-1 .footer-column .logo-footer{ width: 35%; float: left; }
    .footer-opt-1 .footer-column .address{ float: left; margin: 0px; margin-top: 10px }
    .footer-opt-1 .footer-column .address b{ font-size: 12px; }
    .site-footer .address { font-size: 12px; }

    .footer-opt-1 .footer-column .policy_footer_links .links .title { display:none; }
    .footer-opt-1 .footer-column .policy_footer_links ul li { display: inline; list-style: none; padding-right: 3px; }
    .footer-opt-1 .footer-column .policy_footer_links ul li a { font-size:12px; }
    .footer-opt-1 .footer-column .myaccount_footer_links, 
    .footer-opt-1 .footer-column .support_footer_links { display:none; }
    .footer-bottom{ display:none; }
    .payment-methods .block-content img { width: 22%; }
    .copyright { margin-top:10px; font-size:10px !important;}
    

    /*Single Product Details*/
    .single-product-on-right{ padding:0 15px; }
    .catalog-view_op1 .product-media { margin-bottom: 20px;}
    /*.catalog-view_op1 .product-media .images-large{ padding: 0 30px; }*/
    .zoomContainer{ display: none !important;}

    /**
     * Styles for Portrait screen
     */
    @media screen and (orientation:portrait) {
        
        /* .header-opt-1 .header-content .nav-right {
            float: left; width: 100%; padding: 0 15px;
        }
        
        .header-opt-1 .header-content .nav-mind {
            float: right; width: 100%; padding: 0 15px;
        } */

        .header-opt-1 .header-content .nav-left { width: 40%; float: left; clear: none; margin: 0px;  margin-top: 2px; padding-left: 0px;}
        .header-opt-1 .header-content .nav-right { width: 50%; float: right; position: relative; right:50px; }
        .header-opt-1 .header-content .nav-mind {  width: 55%; float: right; padding: 0; position: relative; right: 15px;}

        /**
         * Shippment Block 
         */
        .block-service-opt1 { padding: 0; padding-top: 20px; }
        .block-service-opt1 .col-xs-6 { height: 50px; }
        .block-service-opt1 .item{ padding-left:10px; }
        .block-service-opt1 .item .title { font-size: 9px; }
        .block-service-opt1 .item span { font-size: 9px; }
        .block-service-opt1 .item .icon { width: 17px; height: 17px; left: -5px; }
        .box-shipping-info{margin-left:2px;}
    }


    /**
     * Styles for Landscape screen
     */
    @media screen and (orientation:landscape) {
        
        /*Header*/
        .mobile_responsive_account { display: none;}
        .top_contact_us { display: block;}
        .header-opt-1 .header-top .nav-right{ display:block; }
        .slide-opt-1 .item { height: 250px !important; }

        /*Footer*/
        .footer-opt-1 .footer-column .links { margin:0px;}
        .footer-opt-1 .footer-column .policy_footer_links ul { margin:0 auto !important; width: 100% !important; }
        .footer-opt-1 .footer-column .policy_footer_links ul li a { font-size:14px; }
        .block-newletter{ width: 50%; float: left; }
        .block-social{ width: 50%; float: left; padding-left: 4%; margin-top: 6px; }
        .payment-methods .block-content img { width: 10%; }
        .copyright { font-size:14px !important;}

    }

    @media screen and (max-width: 568px) and (min-width: 320px) {
        
        /* iPhone 5 portrait */
        @media screen and (orientation:portrait) {
            .header-opt-1 .header-content .nav-right { right:70px; }
            .header-opt-1 .header-content .nav-mind {  width: 63%; margin-top: -33px;}

            .footer-opt-1 .footer-column .address{ margin-top: 1px }
            .footer-opt-1 .footer-column .address b {font-size: 11px;}
            .site-footer .address { font-size: 10px; }

            .footer-opt-1 .footer-column .policy_footer_links ul li a { font-size: 10px; }
        }
    }

    /*@media only screen and (max-device-width: 667px), only screen and (max-device-width: 736px), only screen and (max-width: 480px) and (orientation : portrait){ */
    @media screen and (max-width: 667px) and (min-width: 375px) {
        
        /* iPhone 6 portrait */
        @media screen and (orientation:portrait) {
            .header-opt-1 .header-content .nav-right { width: 60%; padding:0px; float: right; position: relative; right:3px; }
            .header-opt-1 .header-content .nav-mind {  width: 53%; right: 15px; top:30px;}
        }
    }

    @media screen and (max-width: 736px) and (min-width: 414px) {
        
        /* iPhone 6+ portrait */
        @media screen and (orientation:portrait) {
            .header-opt-1 .header-content .nav-right { right:-8px; }
            .header-opt-1 .header-content .nav-mind {  width: 48%;}

            .footer-opt-1 .footer-column .address{ margin-top: 22px }
        }
    }


   


}

