
body, p, table, span, h1 { margin: 0; padding: 0; font-family: arial; font-size: 14px;}

.row { width: 100%; float: left;}
/*.invoice-template { width: 90%; border: 1px solid #c00;}*/
.inovice-container { margin:10px auto; width: 800px; border: 1px solid #999; padding: 50px; display: table;  }

/*invoice main header*/
.inovice-container .header-1 .left-logo{ width: 30%; float: left; }
/*.inovice-container .header-1 .left-logo img{ width: 60%; float: left; }*/
.inovice-container .header-1 .right-inovice-info{  width: 70%; float: right; }

.inovice-container .header-1 .right-inovice-info .title h1{ font-size: 26px; }
.inovice-container .header-1 .right-inovice-info .email { font-size: 12px; text-decoration: underline; margin-bottom: 15px; }
.inovice-container .header-1 .right-inovice-info .inovice-number,
.inovice-container .header-1 .right-inovice-info .inovice-date { font-size: 13px; }

/*Invoice Header 2*/
.inovice-container .header-2 .left-side,
.inovice-container .header-2 .right-side{ width: 50%; float: left; padding: 20px 0; }

.inovice-container .header-2 .left-side table tr th,
.inovice-container .header-2 .right-side table tr th{ font-weight: bold; text-align: left; font-size: 13px;}

.inovice-container .header-2 .left-side table tr td,
.inovice-container .header-2 .right-side table tr td{ font-weight: normal; text-align: left; font-size: 13px;}

/*Invoice Body*/
.inovice-container .body table{ width: 100%; float: left; }
.inovice-container .body table tbody tr th,
.inovice-container .body table tbody tr td { border-bottom: 1px solid #e4e4e4; padding: 5px 2px; }
.inovice-container .body table tbody th{ background: #ed2617; color: #fff; }
.inovice-container .body table tbody td{ text-align: left; }
.inovice-container .body table tbody td:nth-child(2),
.inovice-container .body table tbody td:nth-child(3),
.inovice-container .body table tbody td:nth-child(4) { text-align: center;}
.inovice-container .body table tbody td:last-child { text-align: center; font-weight: bold;} /*td last child*/

.inovice-container .body table tbody tr.shipping td:nth-child(1),
.inovice-container .body table tbody tr.tax td:nth-child(1),
.inovice-container .body table tbody tr.discount td:nth-child(1),
.inovice-container .body table tbody tr.total td:nth-child(1) { font-weight: bold;}

.inovice-container .body table tbody tr.shipping td:nth-child(2),
.inovice-container .body table tbody tr.tax td:nth-child(2),
.inovice-container .body table tbody tr.discount td:nth-child(2) { text-align: left;}

.inovice-container .body table tbody tr.shipping td:nth-child(5),
.inovice-container .body table tbody tr.tax td:nth-child(5),
.inovice-container .body table tbody tr.discount td:nth-child(5) { background: #ff776d; color:#fff;}

.inovice-container .body table tbody tr.total { background: #ed2617; font-weight: bold; }
.inovice-container .body table tbody tr.total td:last-child  { color:#fff; }

/*Invoice Footer 1*/
.inovice-container .footer-1 { padding: 20px 0; }
.inovice-container .footer-1 p { width: 100%; float: left; padding: 2px 0;}
.inovice-container .footer-1 p span { text-decoration: underline; }

/*Invoice Footer 2*/
.inovice-container .footer-2 {}
.inovice-container .footer-2 p{ text-align: center; padding: 5px 0; color:#676767; font-size: 11px; }